.nav{

    background-color: #C0B283;


}
.searchField{
    margin-top: 35px;
    /*float: right;
    vertical-align: middle;*/

}
.top {

    /*display: inline-block; !* fixes spacing prob*!*/
    background-color: #C0B283;
    /*margin-left: 70%;*/
    /*text-align: left;*/
}
.login{
    margin-left:95%;
}
/*end of publicHomePage.html....................................................................*/


