
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>here</h1>
<ul th:each="event : ${eventList}"><br>
    <li th:text="${event.getTitle()}"></li>
    <p th:text="${event.getVenueAddress()}"></p>
    <p th:text="${event.getStartTime()}"></p>
    <ol th:each="image : ${event.getImages()}">
        <li th:text="${image.getUrl()}"></li>
        <li th:text="${event.getDefaultImage()}"></li>
    </ol>
</ul>
</body>
</html>