
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--SEARCH BAR FOR LOCATION-->



<!------------------------------->
<!--SEARCH BAR FOR KEYWORDS-->



<!------------------------------->
<ul th:each="event : ${eventList}"><br>
    <li th:text="${event.getTitle()}"></li>
    <p th:text="${event.getVenueAddress()}"></p>
    <p th:text="${event.getStartTime()}"></p>
    <!--<p th:text="${event.getPrice()}"></p>-->
    <ol th:each="image : ${event.getImages()}">
        <img th:src="${image.getUrl()}">
        <img th:src="${event.getDefaultImage()}">
    </ol>
</ul>
</body>
</html>