
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://api.eventful.com/js/api"></script>
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
    <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />

</head>
<body>
<div class="row nav">
    <div class="col-md-12">
        <input name="location" type="text" id="location" class="searchField"/>
        <input name="keyWord" type="text" id="keyword" class="searchField"/>
        <input type="submit" id="searchSubmit">
    </div>

</div>
<!--SEARCH BAR FOR LOCATION-->

<h1>eventful js</h1>
<ol id="title"></ol>
</body>
</html>