
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyDAdYEKAXvFad5gMEjpY12XLYPACrNuDt0&libraries=places"></script>-->
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
    <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="86079661113-c1o8glmf5hv8fb7pe10n218e5puusvbl.apps.googleusercontent.com">
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="/login" onclick="signOut();">Sign out</a>
</body>
</html>